{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background: #292b2c;">
    <span><a class="branding-logo" href="{% url 'home' %}"> YourFetch </a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
    
        </ul>
    
    </div>

    {% if user.is_authenticated %}

        <span><a class="name-user" href="{% url 'all_items_list' %}">Latest Items</a></span>
        <span><a class="name-user" href="{% url 'user_feeds' %}">All Followed Sites</a></span>
        <span><a class="name-user" href="{% url 'logout' %}">Logout</a></span>

    {% endif %}

</nav>