{% extends 'accounts/main.html' %}

{% block content %}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card_register_page">
				<div class="d-flex justify-content-center">
					<h3 id="form-title-register-page">REGISTER ACCOUNT</h3>
				</div>
				<div class="d-flex justify-content-center form_container_register_page">

					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text-register-page"><i id="image-login-password" class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text-register-page"><i id="image-login-password" class="fas fa-envelope-square"></i></span>
							</div>
							{{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text-register-page"><i id="image-login-password" class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text-register-page"><i id="image-login-password" class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div>

						{% for message in messages %}
						<p id="messages_login_page"> {{message}} </p>
						{% endfor %}

				   		<div class="d-flex justify-content-center mt-3 login_container_register_page">
				 			<input class="btn login_btn_register_page" type="submit" value="Register Account">
				   		</div>

					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						<span class="text-about-account" >Already have an account?<a href="{% url 'login' %}" class="ml-2">Login</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>


		//JS to help it looks clean, i'm working to understand that one

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>

{% endblock %}