body{
    margin:0;
    padding:0;
    height:100%;
    background-color: #b9b8b8 
}
html
    {
        margin: 0;
        padding: 0;
        height: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
.form-control-borderless {
border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
border: none;
outline: none;
box-shadow: none;
}

footer{
    background-color: #2d3d46;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 4.5rem;
}