.user_card_login_page {
	width: 350px;
	margin-top: 15%;
	margin-bottom: auto;
	background: #f7f7f7;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 45px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_container_login_page {
	margin-top: 10px;
}

#form-title-login-page{
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.login_btn_login_page {
	width: 100%;
	background: rgb(27, 21, 21) !important;
	color: white !important;
}
.login_btn_login_page:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container_login_page {
	padding: 0 2rem;
}
.input-group-text-login-page {
	background: rgb(27, 21, 21) !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
	min-width: 25px;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

#messages_login_page{
	background-color: rgb(145, 28, 28);
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}

#image-login-password {
	padding-top: 40%;
    padding-left: 20%; 
}

.text-about-account {
	font-family: 'Poppins', sans-serif;
}